APP_NAME=OsonPOS
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://pos.example.uz

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=osonpos
DB_USERNAME=osonpos
DB_PASSWORD=CHANGE_ME

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
SESSION_DOMAIN=pos.example.uz
SANCTUM_STATEFUL_DOMAINS=pos.example.uz

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=CHANGE_ME
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS=hello@example.uz
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
VITE_QZ_SIGNED_PRINTING=true
QZ_SIGNING_ENABLED=true
QZ_CERTIFICATE_PATH=/var/www/osonpos/storage/app/private/qz/digital-certificate.txt
QZ_PRIVATE_KEY_PATH=/var/www/osonpos/storage/app/private/qz/private-key.pem
QZ_PRIVATE_KEY_PASSPHRASE=
